171 아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.

> price_list = [32100, 32150, 32000, 32500]

> 32100   
32150   
32000   
32500

In [9]:
price_list = [32100, 32150, 32000, 32500]

for i in range(0,4):
    print(price_list[i])

32100
32150
32000
32500

172 아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.

> price_list = [32100, 32150, 32000, 32500]

> 0 32100   
1 32150      
2 32000   
3 32500

In [10]:
for i in range(0,4):
    print(i, price_list[i])

0 32100
1 32150
2 32000
3 32500

173 아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.

> price_list = [32100, 32150, 32000, 32500]

> 3 32100   
2 32150   
1 32000   
0 32500

In [11]:
for i in range(0,4):
    print(3-i, price_list[i])

3 32100
2 32150
1 32000
0 32500

174 아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.

> price_list = [32100, 32150, 32000, 32500]

> 100 32150   
110 32000   
120 32500

In [15]:
for i in range(1,4):
    print(10*i+90, price_list[i])

100 32150
110 32000
120 32500

175 my_list를 아래와 같이 출력하라.

> my_list = ["가", "나", "다", "라"]

> 가 나   
나 다   
다 라

In [16]:
my_list = ["가", "나", "다", "라"]

for i in range(0,3):
    print(my_list[i], my_list[i+1]

가 나
나 다
다 라

176 리스트를 아래와 같이 출력하라.

> my_list = ["가", "나", "다", "라", "마"]

> 가 나 다   
나 다 라    
다 라 마

In [25]:
my_list = ["가", "나", "다", "라", "마"]
for i in [0, 1, 2]:
    print(my_list[i], my_list[i+1], my_list[i+2])

가 나 다
나 다 라
다 라 마

177 반복문과 range 함수를 사용해서 my_list를 아래와 같이 출력하라.

> my_list = ["가", "나", "다", "라"]

> 라 다   
다 나   
나 가