In [1]:
# 201 "비트코인" 문자열을 화면에 출력하는 print_coin() 함수를 정의하라.
def print_coin():
    print("비트코인")

In [3]:
# 202 201번에서 정의한 함수를 호출하라.
print_coin()

비트코인

In [4]:
# 203 201번에서 정의한 print_coin 함수를 100번호출하라.
for i in range(100):
    print_coin()

비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인

In [7]:
# 204 "비트코인" 문자열을 100번 화면에 출력하는 print_coins() 함수를 정의하라.
def print_coins():
    for i in range(100):
        print("비트코인")

205 아래의 에러가 발생하는 이유에 대해 설명하라.

> hello()   
> def hello():   
>>print("Hi")   
    
> 실행 예   
NameError: name 'hello' is not defined   

함수가 정의되기 전에 호출되어서 에러가 발생합니다.

In [10]:
# 206 아래 코드의 실행 결과를 예측하라.

def message() :
    print("A")
    print("B")

message()
print("C")
message()

A
B
C
A
B

In [11]:
# 207 아래 코드의 실행 결과를 예측하라. (읽기 어려운 코드의 예입니다.)

print("A")

def message() :
    print("B")

print("C")
message()

A
C
B

In [12]:
# 208 아래 코드의 실행 결과를 예측하라. (읽기 어려운 코드의 예입니다.)

print("A")
def message1() :
    print("B")
print("C")
def message2() :
    print("D")
message1()
print("E")
message2()

A
C
B
E
D

In [13]:
# 209 아래 코드의 실행 결과를 예측하라.

def message1():
    print("A")

def message2():
    print("B")
    message1()

message2()

B
A

In [14]:
# 210 아래 코드의 실행 결과를 예측하라.

def message1():
    print("A")

def message2():
    print("B")

def message3():
    for i in range (3) :
        message2()
        print("C")
    message1()

message3()

B
C
B
C
B
C
A

In [15]:
# 211 함수의 호출 결과를 예측하라.

def 함수(문자열) :
    print(문자열)

함수("안녕")
함수("Hi")

안녕
Hi

In [16]:
# 212 함수의 호출 결과를 예측하라.

def 함수(a, b) :
    print(a + b)

함수(3, 4)
함수(7, 8)

7
15

213 아래와 같은 에러가 발생하는 원인을 설명하라.

> def 함수(문자열) :   
>>    print(문자열)   
    
함수()   
TypeError: 함수() missing 1 required positional argument: '문자열'  

함수에 정의와 다르게 함수를 호출하고 있다. 함수를 호출할 때 하나의 파라미터를 입력해야한다

214 아래와 같은 에러가 발생하는 원인을 설명하라.

> def 함수(a, b) :
>>    print(a + b)   

> 함수("안녕", 3)   

TypeError: must be str, not int    
    
정의된 함수는 같은 타입의 두 개의 값을 입력 받아 덧셈 연산을 적용하려는 의도로 설계됐습니다. 하지만 함수를 호출 할때 문자열과 숫자를 입력해서 문자열과 숫자는 더할 수 없다는 에러가 발생합니다.

215 하나의 문자를 입력받아 문자열 끝에 ":D" 스마일 문자열을 이어 붙여 출력하는 print_with_smile 함수를 정의하라.

In [20]:
def print_with_smile(string):
    print(string + ":D")

In [21]:
# 216 215에서 정의한 함수를 호출하라. 파라미터는 "안녕하세요"로 입력하라.

print_with_smile("안녕하세요")

안녕하세요:D

In [23]:
# 217 현재 가격을 입력 받아 상한가 (30%)를 출력하는 print_upper_price 함수를 정의하라

def print_upper_price(price):
    print(price * 1.3)

In [24]:
# 218 두 개의 숫자를 입력받아 두 수의 합을 출력하는 print_sum 함수를 정의하라.

def print_sum(a,b):
    print(a+b)

219 두 개의 숫자를 입력받아 합/차/곱/나눗셈을 출력하는 print_arithmetic_operation 함수를 작성하라.

> print_arithmetic_operation(3, 4)   

>3 + 4 = 7   
3 - 4 = -1   
3 * 4 = 12   
3 / 4 = 0.75

In [25]:
def print_arithmetic_operation(a,b):
    print(a, "+", b, "=", a + b)
    print(a, "-", b, "=", a - b)
    print(a, "*", b, "=", a * b)
    print(a, "/", b, "=", a / b)

220 세 개의 숫자를 입력받아 가장 큰수를 출력하는 print_max 함수를 정의하라. 단 if 문을 사용해서 수를 비교하라.

In [26]:
def print_max(a,b,c):
    if max(a,b,c):
        print(print_max)

In [28]:
# 모범답안
def print_max(a, b, c) :
    max_val = 0
    if a > max_val :
        max_val = a
    if b > max_val :
        max_val = b
    if c > max_val :
        max_val = c
    print(max_val)

max(a, b, c)

NameError: name 'a' is not defined

221 입력된 문자열을 역순으로 출력하는 print_reverse 함수를 정의하라.

> print_reverse("python")   
> nohtyp

In [33]:
def print_reverse(string):
    print(string[::-1])

222 성적 리스트를 입력 받아 평균을 출력하는 print_score 함수를 정의하라.

> print_score ([1, 2, 3])   
> 2.0

In [35]:
def print_score(score_list):
    print(sum(score_list) / len(score_list))

223 하나의 리스트를 입력받아 짝수만 화면에 출력하는 print_even 함수를 정의하라.

> print_even ([1, 3, 2, 10, 12, 11, 15])   

> 2   
10   
12

In [39]:
def print_even(num_list):
    for i in num_list:
        if i % 2 == 0:
            print(i)

224 하나의 딕셔너리를 입력받아 딕셔너리의 key 값을 화면에 출력하는 print_keys 함수를 정의하라.

> print_keys ({"이름":"김말똥", "나이":30, "성별":0})   

> 이름   
나이   
성별

In [40]:
# 모범답안
def print_keys(dic):
    for keys in dic.keys():
        print(keys)

225 my_dict에는 날짜를 키값으로 OHLC가 리스트로 저장돼 있다.

> my_dict = {"10/26" : [100, 130, 100, 100],
           "10/27" : [10, 12, 10, 11]}

my_dict와 날짜 키값을 입력받아 OHLC 리스트를 출력하는 print_value_by_key 함수를 정의하라.

> print_value_by_key  (my_dict, "10/26")

> [100, 130, 100, 100]